<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/style.css">

        <script type="module" src="https://unpkg.com/nipplejs/dist/index.mjs"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap" rel="stylesheet">

        <title>Luke & Leia's Laser</title>
    </head>
    <body>
        <div id="login">
            <!-- From Uiverse.io by ozgeozkaraa01 --> 
            <div class="group">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <path d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <input id="input" type="password" placeholder="password">
            </div>
        </div>

        <div id="app-container" style="display: none;">
            <div id="status">Starting livestream...</div>
            <video id="stream" autoplay muted playsinline></video>
            <div id="controls">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" id="laser">
                        <span class="slider"></span>
                    </label>
                    <label class="control-label" for="laser">Laser</label>
                </div>
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" id="crosshair">
                        <span class="slider"></span>
                    </label>
                    <label class="control-label" for="crosshair">Crosshair</label>
                </div>
                <div id="joystick-zone"></div>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script type="module" src="/static/script.js"></script>
    </body>
</html>